*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
*::-webkit-scrollbar {
    display: none;
}
ul,ol{
    list-style: none;
}
.token.selector,.token.property,.token.function {
    color: black;
}
#preId{
    width:40%;
    margin:auto;
    background:#ccc;
}
